* {
    margin: 0px;
    padding: 0px;
    
}

body {
    font-family: Arial, Helvetica, sans-serif
    
}


/*banner*/

.header {
    background-color: #343434;
    background-size: cover;
    height: 100px;
    
}
.header h1{
    color: white;
}
.header--nav {
    padding: 30px;
    list-style: none;
    text-align: center;
}

.header--nav li {
    list-style: none;
    display: inline-block;
}

.header--nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem;
    background-color: none;
    border-radius: 5px;
}

.header--nav a:hover {
    background-color: grey;
}

/*aside*/
aside{
    
    background-image: url(img/beta.jpg);
    padding: 20rem;
    width: 100px;
    height: 100px;
    list-style: none;
    display: flex;
    float: right;
    justify-content: flex-end;
    position: relative;top: 60px;left: 2px;
}

/*home*/

.articuloHome {
    background-image: url(img/dead.jpg);
    background-repeat: no-repeat;
    background-size: 3000px;
    background-position: 60%70%;
    border-radius: 10px;
    border: 1px black;
    width: 100%;
    height: 396px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.articuloHome h2 {
    padding: 10px;
    color:whitesmoke ;
}

.articuloHome p {
    position: absolute;top: 480px;left: 30px;
    font-size: 22px;
    color: whitesmoke;
}

.articuloHome img {
    width: 300px;
    height: 300px;
    float: right;
    display: flex;
    flex-wrap: wrap;
}


/*articulos destacados*/

.articulosHome--populares{
    
    height: 10rem;
    width: 10rem;
    padding: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.articulosHome--populares article{

    padding: 10rem;
   height: 100%;
   width: 100%;
    border-bottom: solid 0.5px black;
    display: inline-block;
    
    
}

.articulosHome--populares ul {
    
    width: 100%;
    height: 100%;
   
    
    
    
}

.articulosHome--populares li {
    background-color: white;
   
    
}

.articulosHome--populares img {
    width: 100%;
    
   
    
}
/*footer*/
footer{
    clear: both;
    width: 100%;
    
    color:black;
   
    
}
footer_pagina a{
    text-decoration: none;
    text-transform: uppercase;
    
}

.footer_pagina--Contacto .footer_pagina--Navegacion{

    display: inline-block;
}